// --------- color --------- //
$color-primary: #03A9F4;
$color-primary-light: #44c4ff;
$color-primary-dark: #0288D1;

$color-secondary: #607D8B;


$color-white: #fff;

$color-gray-light-1: #ccc;
$color-gray-light-2: #BDBDBD;

$color-gray-dark-2: #757575;
$color-gray-dark-1: #212121;

$color-black: #000;

// ----- border radius ----- //
$border-radius: 2rem;